<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="calculator.suman.org.graphplotter" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".GraphGenerator"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Activity_sin"></activity>
        <activity android:name=".Activity_cos"></activity>
        <activity android:name=".Activity_quadratic"></activity>
        <activity android:name=".Activity_quadratic2"></activity>
        <activity android:name=".Activity_spirograph"></activity>
        <activity android:name=".Activity_spirograph2"></activity>
        <activity android:name=".Activity_cos2"></activity>
        <activity android:name=".Activity_sin2"></activity>

    </application>

</manifest>
